body tr td {
    color: #f1f1f1;
}

#body2 > tr {
    color: #eb7202;
}

aside p+p {
    color: #ffffff;
}

#saturn th {
    color: #ffffff
}

#sectino {
    box-shadow: white ;
}

#jupiter {
    background-image: url(../images/Jupiter.jpg);
}

#saturn {
    background-image: url(../images/Saturn.jpg);
}

#uranus {
    background-image: url(../images/Uranus.jpg);
}

#neptune {
    background-image: url(../images/Neptune.jpg);
}

body {
    width:900px;
    margin: 0 auto;
    background-color: #020202;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

 header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

section {
  border: 1px solid rgb(253, 145, 20);
}

.menu {
  margin: 0 85px;         /* ระยะห่างด้านบน/ล่าง = 0, ซ้าย/ขวา = 85px */
}

footer {
  text-align: center;       /* จัดข้อความให้อยู่ตรงกลาง */
  background-color: blue;   /* กำหนดพื้นหลังเป็นสีน้ำเงิน */
  color: white;             /* (แนะนำ) กำหนดสีตัวอักษรให้มองเห็นชัดบนพื้นน้ำเงิน */
  padding: 20px;            /* (แนะนำ) เพิ่มระยะห่างด้านใน footer */
}